* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: #e1eaea;
}

nav {
	background-color: white;
	height: 60px;
}

.navContainer {
	line-height: 60px;
}

#nameHeader {
	margin: 0px;
	padding: 0px 15px 0px 15px;
	float: left;
}

.group {
	float: left;
	margin-left: 100px;
	text-align: center;
	color: white;
	background-color: #4daba5;
}

.right {
	margin-left: 20px;
	text-align: center;
}

a {
	text-decoration: none;
}

section {
	clear: both;
}

img {
	float: left;
}

.aboutme {
	background: white;
	height: 400px;
	width: 43.4%;
	margin: 35px 100px;
	margin-left: 25px;
	overflow: auto;
	float: left;
}

.connect {
	margin: 29.9px;
	margin-left: 15px;
	background: white;
	float: left;
	text-align: center;
	height: 160px;
	width: 30%;
	
}

.fa {
	padding: 20;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa-github {

}

.fa-linkedin {

}

.fa-stack-overflow {

}

.foot {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 70px;
	background: gray;
	border-top: 3px solid #0099cc;
	width: 100%;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;

}

.p1 {
	font-family: 'Zilla Slab', serif;
	font-weight: normal;
}

@media screen (max-width: 980px) {
		
}

@media s